@media (max-width:1200px) {
    .input-element-justify {
        width: 100%;
        height: 2rem;
    }

    .login-item {
        width: 80%;
    }
}

@media (max-width:992px) {
    .login-item {
        width: 90%;
    }

    .login-item input {
        width: 85%;
    }
}

@media (max-width:768px) {
    .container-justify-content-login {
        display: grid;
        grid-template-columns: 1fr;
    }

    .info-bg-next-to-login-form {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100vh;
    }

    .input-element-justify {
        width: 100%;
        height: 2.2rem;
    }

    .login-item input {
        width: 90%;
    }
}

@media (max-width:579px) {
    .login-item input {
        width: 87%;
    }
}

/* Panel */
@media only screen and (min-width: 992px) and (max-width: 1280px) {
    .panel-grid-justify {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .container-sidebar {
        width: 15vw;
    }

    .fixed-nav-sidebar {
        height: 35rem;
    }

    .main-page {
        width: 95%;
        height: 100%;
    }

    .contianer-rows-item-issue {
        width: 87%;
    }

    .contianer-rows-item-issue tr {
        width: 100%;
    }

    .titles-attrbute-item tr {
        width: 100%;
        gap: 0;
    }

    .container-list-item-about-aside-sales-earlier {
        width: 95%;
    }

    .sales-specifications-item {
        width: 150px;
    }

    .sales-earlier {
        width: 95%;
    }

    .container-header-list-item {
        width: 95%;
    }
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
    .panel-grid-justify {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }

    .container-sidebar {
        width: 20vw;
    }

    .fixed-nav-sidebar {
        width: 20vw;
        height: 28rem;
    }

    .main-page {
        width: 95%;
        height: 100%;
    }

    .contianer-rows-item-issue {
        width: 95%;
    }

    .contianer-rows-item-issue tr {
        width: 100%;
    }

    .titles-attrbute-item {
        width: 95%;
    }

    .titles-attrbute-item tr {
        width: 100%;
        gap: 0;
    }

    .container-list-item-about-aside-sales-earlier {
        width: 90%;
    }

    .sales-specifications-item {
        width: 140px;
    }

    .sales-earlier {
        width: 95%;
    }

    .container-header-list-item {
        width: 100%;
    }

    .search-item {
        width: 150px;
    }

    .filter-select {
        width: 85%;
    }

    .add-new-modal {
        width: 140px;
    }

    .titles-attrbute-item h3 {
        width: 80px;
    }

    .contianer-rows-item-issue td {
        width: 100px;
    }

    .list-item:nth-of-type(2) {
        width: 200px;
    }

    /* ==== menu in mobile width ====*/
    .container-sidebar {
        display: flex;
        width: 1vw;
        height: auto;
    }

    .mobile-open-menu {
        display: flex;
        width: 3rem;
        height: 100%;
    }

    .mobile-open-menu button {
        width: 100%;
        height: 100%;
        background: transparent;
        cursor: pointer;
        border: 1px solid #3fa0a7;
        border-radius: 5px;
    }

    .mobile-open-menu i {
        color: #3fa0a7;
        font-size: 20px;
    }

    .fixed-nav-sidebar {
        width: 15rem;
        transform: translateX(15rem);
        z-index: 999;
        top: 8%;
    }

    .active-fixed-nav-sidebar {
        transform: translateX(-7.5rem);
    }
}

@media only screen and (max-width: 767px) {
    .title-sidebar-items-pages {
        width: 85%;
    }

    .fixed-nav-sidebar {
        width: 20vw;
        height: 25rem;
        position: fixed;
        top: 10px;
        right: 1px;
    }

    .sidebar-items-pages {
        width: 80%;
        height: 2.2rem;
    }

    .list-item:nth-of-type(2) {
        width: 150px;
    }

    .justify-sidebar-items-page {
        justify-content: center;
        align-items: center;
    }

    .panel-grid-justify {
        display: flex;
        flex-direction: row;
        gap: 1px;
    }

    .container-sales-specifications {
        width: 55%;
        height: auto;
        gap: 1rem;
    }

    .sales-specifications-item {
        width: 150px;
    }

    .contianer-rows-item-issue {
        width: 95%;
    }

    .container-state-chart {
        width: 100%;
        height: 50rem;
        display: flex;
        flex-direction: column;
    }

    .titles-attrbute-item {
        width: 95%;
    }

    .titles-attrbute-item {
        display: flex;
    }

    .add-new-modal {
        width: 100px;
        gap: 1px;
    }

    .search-item {
        width: 150px;
    }

    .container-list-item-about-aside-sales-earlier {
        width: 100%;
    }

    .titles-attrbute-item h3 {
        width: 40px;
    }

    .contianer-rows-item-issue td {
        width: 50px;
        font-size: 9px;
    }

    .titles-attrbute-item tr {
        width: 100%;
        gap: 0;
    }

    /* ==== menu in mobile width ====*/
    .container-header-list-item {
        width: 95%;
    }

    .container-sidebar {
        display: flex;
        width: 1vw;
        height: auto;
    }

    .mobile-open-menu {
        display: flex;
        width: 3rem;
        height: 100%;
    }

    .mobile-open-menu button {
        width: 100%;
        height: 100%;
        background: transparent;
        cursor: pointer;
        border: 1px solid #3fa0a7;
        border-radius: 5px;
    }

    .mobile-open-menu i {
        color: #3fa0a7;
        font-size: 20px;
    }

    .fixed-nav-sidebar {
        width: 15rem;
        transform: translateX(16rem);
        z-index: 999;
        top: 8%;
    }

    .active-fixed-nav-sidebar {
        transform: translateX(-1rem);
    }
}

@media only screen and (min-width:480px) and (max-width:767px) {
    .container-sales-specifications {
        width: 85%;
        height: auto;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .sales-specifications-item {
        width: 100%;
    }

    .titles-attrbute-item tr {
        width: 100%;
        gap: 0.1rem;
    }

    .contianer-rows-item-issue td {
        width: 50px;
        font-size: 9px;
    }
}

@media only screen and (max-width:480px) {
    .title-sidebar-items-pages {
        width: 85%;
    }

    .fixed-nav-sidebar {
        width: 20vw;
        height: 25rem;
        position: fixed;
        top: 10px;
        right: 1px;
    }

    .sidebar-items-pages {
        width: 80%;
        height: 2.2rem;
    }

    .list-item:nth-of-type(2) {
        width: 150px;
    }

    .justify-sidebar-items-page {
        justify-content: center;
        align-items: center;
    }

    .panel-grid-justify {
        display: flex;
        flex-direction: row;
        gap: 1px;
    }

    .container-sales-specifications {
        width: 85%;
        height: auto;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .sales-specifications-item {
        width: 100%;
    }

    .contianer-rows-item-issue {
        width: 95%;
    }

    .container-state-chart {
        width: 100%;
        height: 50rem;
        display: flex;
        flex-direction: column;
    }

    .titles-attrbute-item {
        width: 95%;
    }

    .titles-attrbute-item {
        display: flex;
    }

    .add-new-modal {
        width: 100px;
        gap: 1px;
    }

    .search-item {
        width: 150px;
    }

    .container-list-item-about-aside-sales-earlier {
        width: 100%;
    }

    .titles-attrbute-item h3 {
        width: 22px;
    }

    .contianer-rows-item-issue td {
        width: 55px;
        font-size: 9px;
    }

    /* ==== menu in mobile width ====*/
    .container-header-list-item {
        width: 95%;
    }

    .container-sidebar {
        display: flex;
        width: 1vw;
        height: auto;
    }

    .mobile-open-menu {
        display: flex;
        width: 3rem;
        height: 100%;
    }

    .mobile-open-menu button {
        width: 100%;
        height: 100%;
        background: transparent;
        cursor: pointer;
        border: 1px solid #3fa0a7;
        border-radius: 5px;
    }

    .mobile-open-menu i {
        color: #3fa0a7;
        font-size: 20px;
    }

    .fixed-nav-sidebar {
        width: 15rem;
        transform: translateX(16rem);
        z-index: 999;
        top: 8%;
    }

    .active-fixed-nav-sidebar {
        transform: translateX(-1rem);
    }
}